<footer>
    <p>Copyright &copy; <%= new Date().getFullYear() %> &bullet; The Mod Squad is not affiliated with Twitch or Amazon</p>
    <p>Artwork courtesy of <a href="https://twitter.com/LKthefox" target="_blank">lkthefox</a> &bullet; Website developed by <a href="https://twijn.net">Twijn</a></p>
</footer>
