<section class="heading landing">
    <div class="wrapper">
        <div class="heading-box">
            <h1>
                The Mod Squad
            </h1>
            <p>
                Discord community supporting Twitch streamers and their communities.
            </p>
        </div>
    </div>
</section>