<header>
    <div class="wrapper">
        <img src="/assets/images/logo.webp" alt="The Mod Squad Logo" class="logo">
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/members">View Members</a></li>
            <li><a href="https://support.tms.to" target="_blank">Contact Us</a></li>
            <li><a href="https://patreon.com/twitchmodsquad" target="_blank">Patreon</a></li>
            <li><a href="/join" class="cta">Join Us!</a></li>
        </ul>
    </nav>
    <a class="hamburger" href="#" aria-label="Navigation"><i class="fa-solid fa-bars"></i></a>
</header>
