main {
    height: calc(100vh - 3.3em);
}

.hide-header main {
    height: 100vh;
}

#bans, #timeouts, #messages, #streamers {
    font-size: 1.9em;
    color: #fff;
    padding: .2em;
    border-radius: 2px;
    text-align: center;
}

#bans {
    background-color: #db4437;
}

#timeouts {
    background-color: #f4b400;
    color: black;
}

#messages {
    background-color: #4285f4;
}

#streamers {
    background-color: var(--primary-tms-color);
}

#follows,
#subscriptions {
    display: flex;
}

#follows > div,
#subscriptions > div {
    flex-grow: 1;
    text-align: center;
}

#follows img,
#subscriptions img {
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: .1em;
}

#follows .relative-time,
#subscriptions .tier {
    font-size: .8em;
    color: var(--secondary-text-color);
}

#member-streams > div {
    display: flex;
    background-color: rgba(255,255,255,0.025);
    margin: .6em 0;
    padding: .6em;
    border: .1em solid rgba(255,255,255,0.05);
    border-radius: 8px;
}

#member-streams img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-right: .5em;
    border: .1em solid #ba3a3a;
}

#member-streams .content {
    font-size: .8em;
    color: var(--tertiary-text-color);
    flex-grow: 1;
}

#member-streams .content span {
    color: var(--secondary-text-color);
}

#member-streams h3 {
    color: var(--primary-text-color);
    width: 12em;
    font-size: 1rem;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}
