select {
    background-color: var(--primary-background-color);
    border: 1px solid var(--tertiary-background-color);
    color: var(--primary-text-color);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    padding: .8em;
    border-radius: .6em;
    margin: 1em;
    margin-bottom: 0;
}

input[type=search],
input[type=text] {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    border: 1px solid var(--tertiary-background-color);
    border-radius: .3em;
    padding: .8em;
}

input[type=search] {
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: .6em;
    transition: 0.2s border-radius;
    outline: none;
}

input.full {
    display: block;
    width: calc(100% - 1.6em);
    margin-bottom: 1em;
}
