select {
    display: block;
    background-color: rgba(0,0,0,0.15);
    width: calc(100% - 1.6em);
    border: 1px solid var(--tertiary-background-color);
    color: var(--primary-text-color);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    padding: .8em;
    border-radius: .6em;
    margin: .8em 0;
    margin-bottom: 0;
}

input[type=search],
input[type=text],
textarea {
    background-color: rgba(255,255,255,0.025);
    color: var(--primary-text-color);
    border: .1em solid rgba(255,255,255,0.05);
    border-radius: .3em;
    padding: .8em;
}

textarea {
    font-family: "Noto Sans", sans-serif;
}

input[type=search] {
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: .6em;
    transition: 0.2s border-radius;
    outline: none;
}

input.full,
textarea {
    display: block;
    width: calc(100% - 1.6em);
    margin-top: .5em;
    margin-bottom: 1em;
}

.length-counter {
    display: block;
}

.length-counter .length {
    display: none;
    font-size: .8em;
    margin: -.5em 0 .5em 0;
    opacity: .8;
}

.length-counter:focus-within .length {
    display: block;
}
