@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Sans:wght@300;400;600;700&display=swap');

:root {
    --primary-background-color: #1c1b1e;
    --secondary-background-color: #26262f;
    --tertiary-background-color: #24242a;

    --primary-text-color: #eae5f3;
    --secondary-text-color: #a9a2b6;
    --tertiary-text-color: #524b5e;

    --shadow: 2px 2px 10px rgba(0,0,0,0.2);
    --heavy-shadow: 2px 2px 10px rgba(0,0,0,0.35);
    --light-shadow: 2px 2px 15px rgba(255,255,255,0.4);

    --primary-tms-color: #772ce8;
    --secondary-tms-color: #6c24d7;
    --faded-tms-color: rgba(201, 182, 230, 0.9);

    --primary-twitch-color: #9147ff;
    --secondary-twitch-color: #8239ef;
    --dark-twitch-color: #552996;

    --primary-discord-color: #5865f2;
    --secondary-discord-color: #4f5ceb;
    --dark-discord-color: #2e379c;
}

html, body {
    min-height: 100%;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body:not(.panel) {
    background: url('/assets/images/banners/banner-large.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body.narrow-page main {
    background-color: var(--secondary-background-color);
    width: calc(100% - 3em);
    max-width: 30em;
    margin: 3em auto;
    padding: 1em;
    border-radius: 5px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

h1 img {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: .7em;
}

h1 span {
    color: var(--secondary-text-color);
    font-weight: 300;
}

a, small {
    color: var(--secondary-text-color);
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.05);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.15);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 3px;
}

code {
    font-family: "Noto Sans Mono", monospace;
    font-size: .8em;
    background-color: rgba(255,255,255,0.02);
    border: .1em solid rgba(255,255,255,0.025);
    padding: .2em .3em;
    border-radius: 2px;
}

code.block {
    padding: .5em;
    margin: .2em 0;
    display: block;
    white-space: pre-wrap;
}

code.block img {
    height: 1.2em;
    border-radius: 50%;
}
