<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad - Live Chat</title>
<%- include("../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/panel/panel.css">
</head>
<body class="panel">
<%- include("../../partials/header") %>

    <div class="sidebar-container">
        <%- include("../../partials/sidebar", {active: "live-chat"}) %>
        
        <main class="container container-md">
            
        </main>
    </div>
    
    <div class="notifications"></div>
<%- include("../../partials/javascript") %>
    <script src="/assets/js/panel.js"> </script>
</body>
</html>
